name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  pull-requests: read
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    strategy:
      matrix:
        node: [ 22, 23, 24, 25 ]
    name: Node ${{ matrix.node }} test
    steps:
      - name: Git Checkout
        uses: actions/checkout@v6
      - name: Run linting rules and tests
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Node Version
        run: node --version
      - name: NPM Install
        run: npm ci
      - name: NPM ESLint
        run: npm run lint
      - name: NPM Test
        run: npm test

  auto-approve:
    runs-on: ubuntu-latest
    needs: [test]
    permissions:
      pull-requests: write
      issues: write
    steps:
    - name: Auto Approve PR
      uses: actions/github-script@v8
      with:
       script: |
        github.rest.pulls.createReview({
          owner: context.repo.owner,
          repo: context.repo.repo,
          pull_number: context.issue.number,
          event: "APPROVE"
        })
